body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    font-family: sans-serif;
}

.container {
    min-height: 200px;
    padding: 0 50px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    border-radius: 10px;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-weight: bold;
    margin: 0 5px;
    padding: 10px;
}

button:active {
    border: 2px solid white;
    background-color: black;
    color: white;
}

.btn-container {
margin-bottom: 10px;
}